* {
  max-width: 100%;
}

body {
  font-family: "Meta Serif OT", serif;
  font-size: 12pt;
  line-height: 1.663;
  -moz-font-feature-settings: "lnum";
  -ms-font-feature-settings: 'lnum';
  -webkit-font-feature-settings: 'lnum';
  -o-font-feature-settings: 'lnum';
  font-feature-settings: 'lnum';
}

  }

a { text-decoration: underline; }

img.logo {
  width: 25%;
}

.contact-information,
.contents {
  font-family: "Meta OT", sans-serif;
}

.distinct {
  font-size: 23.008px;
  font-size: 1.438rem; }

.discrete {
  font-size: 15.328px;
  font-size: 0.958rem; }

.details {
  margin-top: 34.496px;
  margin-top: 2.156rem;
  font-size: 17.008px;
  font-size: 1.063rem; }

h1 {
  font-weight: normal;
}

h2, h3, h4, h5, h6 {
  font-family: "Meta OT", sans-serif;
	font-weight: 500;
}

h2 {
  padding-top: 38.256px;
}

h3 {
  margin-top: 23.008px;
}

p,
ul,
ol,
dl,
figure,
table {
  margin: 25.504px 0px 0px;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-top: 0;
}

dt {
	font-weight: 500;
}

table {
	width: 100%;
}

th, td {
	text-align: left !important;
}

h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
	margin-top: 17.008px;
}

.toc a:after { 
 content: leader(dotted) " " target-counter(attr(href, url), page);
}

h2 { 
  bookmark-level: 1; 
  bookmark-state: closed;
  bookmark-label: content();
}

@page { 
  @bottom-left { /* verso running footer */
    content: counter(page);
  }
}

/* end @type */
/* @colours -------------------------------------------------------------- */
/* off-black text */

body {
  color: #000000;
}

a {
  color: #3678b6; }
  a:hover, a:focus {
    color: #2a5e8f; }
  a:active {
    color: #1f4467; }


.discrete {
  color: #888888; }

label.invalid {
  background-color: #e78c52; }

.success {
  background-color: #9aab44; }

input.invalid,
textarea.invalid {
  border-color: #e78c52; }

  .read a[href]:after {
    content: " (" attr(href) ")"; }

  .read abbr[title]:after {
    content: " (" attr(title) ")"; }

    /*
* Don't show links for images, or javascript/internal links
*/
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  figure {
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  img {
    max-width: 100% !important; }

  hr {
  	margin: 0;
  	height: 0;
  	padding: 0;
  	border: none;
  	color: transparent;
  	opacity: 0;
    page-break-before: always; }

  @page {
    margin-top: 2cm;
    margin-right: 4cm;
    margin-bottom: 4cm;
    margin-left: 2cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid; }

  .breadcrumb,
  .nav-link,
  .social,
  #emphasis-instructions,
  .page-nav,
  .newsletter-form,
  .primary-nav {
    display: none; }

  .site-footer {
    position: static;
    bottom: 0;
    page-break-before: always; }
