@font-face {
  font-family: "Meta OT", sans-serif;
  font-weight: normal;
  src: url('MetaOT-Norm.otf');
}

@font-face {
  font-family: "Meta OT", sans-serif;
  font-style: italic;
  font-weight: normal;
  src: url('MetaOT-NormIta.otf');
}

@font-face {
  font-family: "Meta OT", sans-serif;
  font-weight: bold;
  src: url('MetaOT-Medi.otf');
}

@font-face {
  font-family: "Meta OT", sans-serif;
  font-style: italic;
  font-weight: bold;
  src: url('MetaOT-MediIta.otf');
}

@font-face {
  font-family: "Meta Serif OT", serif;
  font-weight: normal;
  src: url('MetaSerifOT-Book.otf');
}

@font-face {
  font-family: "Meta Serif OT", serif;
  font-style: italic;
  font-weight: normal;
  src: url('MetaSerifOT-BookItalic.otf');
}

@font-face {
  font-family: "Meta Serif OT", serif;
  font-weight: bold;
  src: url('MetaSerifOT-Bold.otf');
}

@font-face {
  font-family: "Meta Serif OT", serif;
  font-style: italic;
  font-weight: bold;
  src: url('MetaSerifOT-BoldItalic.otf');
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

* {
  max-width: 100%;
}

body {
  font-family: "Meta Serif OT", serif;
  font-size: 12pt;
  line-height: 1.663;
  -moz-font-feature-settings: "lnum";
  -ms-font-feature-settings: 'lnum';
  -webkit-font-feature-settings: 'lnum';
  -o-font-feature-settings: 'lnum';
  font-feature-settings: 'lnum';
}

a {
  text-decoration: underline;
}

img.logo {
  width: 25%;
}

img.logo.small {
  width: 20%;
}

.contact-information,
.contents {
  font-family: "Meta OT", sans-serif;
}

.distinct {
  display: inline-block;
  margin: 17.008px 0px;
  font-size: 16pt;
}

.discrete {
  font-size: 10pt;
}

h1 {
  font-weight: normal;
}

h1.small {
  font-size: 16pt;
}

h2, h3, h4, h5, h6 {
  font-family: "Meta OT", sans-serif;
	font-weight: bold;
}

h2 {
  padding-top: 38.256px;
  page-break-before: always;
}

h3 {
  margin-top: 23.008px;
}

h4, h5, h6 {
  font-size: 12pt;
  margin: 25.504px 0 0;
}

h5 {
  text-transform: uppercase;
  font-size: 11pt;
}

h6 {
  text-decoration: underline;
  font-size: 11pt;
}

p,
ul,
ol,
dl,
figure,
table {
  margin: 25.504px 0px 0px;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-top: 0;
}

dt {
	font-weight: bold;
}

dl:after {
    content:"";
    display:table;
    clear:both;
}

dt {
    width: 10em;
    float: left;
    clear: left;
    margin-top: .25em;
}

dd {
    float: left;
    clear: right;
    margin-top: .25em;
}

table {
	width: 100%;
}

thead td,
thead th {
  font-weight: bold;
}

th, td {
	text-align: left !important;
  padding: 10px 0;
  border-top: 1px solid #dedede;
  font-weight: normal;
}

.features .supporting {
  font-size: 8pt;
  font-family: "Meta OT", sans-serif;
  color: #888;
  font-weight: normal;
}

colgroup.feature {
  width: 70%;
}

colgroup.price {
  width: 15%;
}

.features {
  font-size: 11pt;
}

.features .feature-title {
  font-weight: bold;
  margin-top: 0;
}

.features .feature-description {
  font-weight: normal;
  margin-top: 0 !important;
  -webkit-margin-before: 0;
}

.features .feature-included {
  text-align: center !important;
}

.features tr {
  padding: 10px 0;
}

h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
	margin-top: 17.008px;
}

h2 {
  bookmark-level: 1;
  bookmark-state: closed;
  bookmark-label: content();
}

body {
  color: #000000;
}

a {
  color: #3678b6;
}

  a:hover, a:focus {
    color: #2a5e8f;
  }

  a:active {
    color: #1f4467;
  }

pre,
figure {
  page-break-inside: avoid;
}

thead {
  display: table-header-group; /* h5bp.com/t */
}

img {
  max-width: 100% !important;
}

hr {
	margin: 0;
	height: 0;
	padding: 0;
	border: none;
	color: transparent;
	opacity: 0;
  page-break-before: always;
}

@page {
  margin-top: 2.618cm;
  margin-right: 2.618cm;
  margin-bottom: 4.236cm;
  margin-left: 2.618;
}


/*@page {
  @bottom-right {
    content: counter(page);
  }
}*/

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3,
h4,
h5,
h6 {
  page-break-after: avoid !important;
}

li p {
  margin: 0;
}

@media print {
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  .feature-title {
    page-break-after: avoid !important;
  }
}